*{
margin:0px;
padding: 0px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

html {
    font-family: 'Lexend Deca',sans-serif;
    text-rendering: optimizeLegibility;
}

.clearfix:after {
content: "";
display: table;
clear:both;
}

body{
font-family:'Lexend Deca', sans-serif;
font-size: 15px;
}

h1, h2 {
color:rgb(62, 175, 52);;
}

h1 {
font-size:40px;
margin-top: 5px;
margin-bottom: 20px;
}

h2{
font-size: 20px;
margin-bottom: 10px;
}
.mainps {
text-align: justify;
margin-bottom: 20px;
}

.container {
width:1140px;
margin: 20px auto 0px auto;
}

.blog {
width: 75%;
float: left;
padding-right: 30px;
position: relative;
}

.otherposts {
    margin-top: 10px;
margin-bottom: 10px;
width: 25%;
float: right;
    border:2px solid ;
    border-color: green;
    padding:10px 10px 0px 10px;
}

.authorspace {
    padding-top:15px;
    border-top: 1px solid #6f6f6f;
    }

.author {
    font-size: 18px;
    float:left;
    margin: 50px 0px 0px 15px;
}

.other {
    margin-bottom: 30px;
    font-family:'Lexend Deca', sans-serif;
}

.authorspace img {
    height: 130px;
    width:130px;
    border-radius: 50%;
    float:left;
    margin-bottom: 10px;
}

.date {
 position: absolute;
    top: 18px;
    right: 30px;
}
.years, .save {
    color:green;
    font-size: 22px; 
}

.wlink {
    color:white;
    display:block;
    margin: 40px 580px 72px 0px;
    padding:10px 5px;
    background-color: #18b118;
    text-decoration: none;
    font-family:'Lexend Deca', sans-serif;
}



.myworld img{
    position: absolute;
    height: 120px;
    width:auto;
    margin-left: 750px;
}

.quote {
    position:relative;
    margin-top: 30px;
    padding-right: 120px;
   margin-left: 680px;
    
}
