/* Big tabs to 1200px: from  to 1201 [ Widths smaller than 1140px r0w ] */
@media only screen and (max-width: 1200px) {
	
	.hero-text-box {
		width: 100%;
		padding: 0 2%;
}
	
	.row { padding: 0 2%; }
	
}



/* Small tabs to Big tabs: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
	
	body { font-size: 16px;
	margin: 0;}
	
	section { 
		padding-top: 0px; 
		padding-bottom: 30px;
	}
    
    .main {margin-top: 80px;}
    
	
	.app-btn-gp img, .app-btn-ap img {
		width: 125px;
		margin: 0;
    }
	
	.app-btn-gp img {height: 61px;}
    
    .app-btn-ap img {
		height: 40px;
		margin-bottom: 10px;
	}
	

    .section-steps{font-size: 90%;}
    
	.cities {
        font-size: 65%;
        padding-bottom: 40px;
    }

	.role-box {
        border-radius: 5px;
        width: 85%;
        margin-left: 10%;
    }
    
    .steps-box:first-child {
        padding-right: 1px;
    }
    
    .steps-box:last-child {
        padding-right: 50px;
        margin-top: 40px;
    }

/*	.section-role {font-size: 90%;}*/

    .icon-small {width: 16px;}
    
    .cities h3 {font-size: 14px;}
    
    .role-box {
        width: 100%;
        margin-left: 0;
        font-size: 90%;
    }
    
	
	
/* Small phones to Small Tablets : from 481px 767px */
@media only screen and (max-width: 767px) {
    
    body{ font-size: 15px;}
    .row, hero-text-box{padding: 0 3%;}
    
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
/*----------------------------------Nav Bar---------------------------------*/  
    
    
    .mobile-nav-icon {display: inline-block;}
    
    .main-nav {display: none}
    
    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    
    .main-nav li {
        margin-bottom: 20px;
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
       display: block;
        border: 0;
        padding: 2px 0;
        font-size: 100%;
    }
    
    
    .sticky .main-nav{margin-top: 10px}
    
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        border:  1px solid transparent;
        font-size: 90%;
        padding: 5px;
    }

    .sticky .main-nav li a:hover,
    .sticky .main-nav li a:active {
        border-bottom:  1px solid #000;
    }

    .sticky .mobile-nav-icon { margin-top: 13px; }
    .sticky .mobile-nav-icon i { color: #000; }
  
/*-----------------------------------------------------------------------------*/    
    
    .city-feature{
        font-size: 90%;
    }
 
    .section-steps {
        padding: 50px 0;
    }
    
    .steps-box:last-child {
        margin-top: 30px;
        padding-right: 18px;
    }
    
    .works-step div {
        height: 30px; 
        width: 30px; 
        padding: 5px;
        font-size: 120%;
        margin-right: 15px;
    }
    
    .role-box {
        width: 100%;
        font-size: 60%;
    }
    
    .cities {font-size: 70%;}
    
    .icon-small {width: 12px;}
    
    .section-form { font-size: 95% ;}
    
    .cities img {
        width: 170%;
        padding: 0px 60px 10px 0px;
    }
    
    .city-feature {
        border: 1px solid #2aa52a;
        padding: 10px;
        margin: 20px 0;
}
        
    .footer-nav li,
    .social-links li {
        text-align: center;
        font-size: 110%;
        margin-right: 20px;
        padding-bottom: 10px;
}



/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    section {padding: 25px; 0;}
    .contact-form{width: 100%;}
    
    .cities img {
    display: block;
    width: 120%;
    padding:0px 60px 15px 0px;
}
    
    .city-feature { margin: 5px 0;}
    .city-feature:last-child {margin-bottom: 50px;}
    
    .contact-form div {padding-bottom: 12px;}
    .contact-form div:last-child {padding-bottom: 0px;}
    .contact-form .check {padding-bottom: 40px;}
    .contact-form .check-2 {padding: 40px 0 0 0; font-size: 17px;}
    
    .app-screen {
        margin-right: 100px;
    }


    .role-box {
        width: 100%;
        margin-bottom: 10px;
        font-size: 65%;
    }
    
    footer .social-links {
        display: block;
        float: left;
        flex-wrap: wrap;
        font-size: 11px;
    }
    
    footer .social-links, .footer-nav {
       float: left;
        margin-left: 0;
    }
    
    .Copy {
        font-size: 13px;
    }
	
}
    
    @media only screen and (max-width: 371px){
        .hero-text-box {
            margin-top: 75px;
            font-size: 85%;
        }
        
    }
    
    @media only screen and (max-width: 349px){
        .hero-text-box {
            margin-top: 130px;
            font-size: 85%;
            padding-bottom: 30px;
        }
        
    }
    
    @media only screen and (max-width: 304px){ 
    
        .hero-text-box {margin-top: 110px; font-size: 70%;}
        
        .hero-text-box .btn {padding: 10px;}
    
        .btn {padding: 20px;}
        
        img .logo {width: 10%;}
        .to-know .tnb {padding: 7px; font-size: 14px;}
    }
    
    @media only screen and (max-width: 200px) {
        .hero-text-box {margin-top: 90px; font-size: 75%;}
        
    }
    
    
    
    



